article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

a {
    background: transparent;
    text-decoration: none;
}

a:focus {
    outline: thin dotted
}

a:active,
a:hover {
    outline: 0;
}

b,
strong {
    font-weight: 700
}

img {
    border: 0
}

figure {
    margin: 0
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0
}

button,
input {
    line-height: normal
}

button,
select {
    text-transform: none
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

.sort-div {
    background: #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.06);
}

button[disabled],
html input[disabled] {
    cursor: default
}

input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto;
    vertical-align: top
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

.disabled {
    cursor: default
}

html,
body {
    width: 100%
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd,
ul,
ol,
li,
form,
button,
input,
textarea,
th,
td {
    margin: 0;
    padding: 0
}

body {
    font-family: Helvetica, "Microsoft Yahei", Arial, sans-serif;
    font-size: 13px;
    /*line-height: 1.5em;*/
    color: #333
}

li {
    list-style-type: none
}

input,
select,
textarea,
label {
    vertical-align: middle
}

/*a {
	color: #176ba5;
	text-decoration: none
}*/

a:hover {
    text-decoration: underline
}

button {
    border: 0
}

input:focus,
textarea:focus,
select:focus,
button:focus {
    outline: 0
}

pre {
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
    font-family: Helvetica, "Microsoft Yahei", Arial, sans-serif
}

.zl {
    zoom: 1;

}

.clearfix {
    *zoom: 1
}

.clearfix:after {
    content: '';
    visibility: hidden;
    clear: both;
    display: block;
    height: 0
}

.cl {
    clear: left
}

.cr {
    clear: right
}

.cb,
.clr {
    clear: both
}

.fl {
    float: left;

    *display: inline
}

.fr {
    float: right;
    *display: inline
}

.tl {
    text-align: left
}

.tc {
    text-align: center
}

.tr {
    text-align: right
}

.db {
    display: block
}

.dib {
    display: inline-block;
    *display: inline;
    *zoom: 1
}

.dn {
    display: none
}

.fwn {
    font-weight: 400
}

.fwb {
    font-weight: 700
}

.fws {
    font-weight: 600;
}

.fsi {
    font-style: italic
}

.tdn,
.tdn:hover {
    text-decoration: none
}

.tdn_hover {
    text-decoration: none
}

.tdn_hover:hover {
    text-decoration: underline
}

.tdu {
    text-decoration: underline
}

.tdu_hover {
    text-decoration: underline
}

.tdu_hover:hover {
    text-decoration: none
}

.pr {
    position: relative;
}

.indexlink {
    cursor: pointer;
}

.pa {
    position: absolute
}

.pf {
    position: fixed
}

.t150 {
    top: 150px
}

.b0 {
    bottom: 0
}

.l50b {
    left: 50%
}

.r0 {
    right: 0
}

.vat {
    vertical-align: top
}

.vam {
    vertical-align: middle
}

.vtb {
    vertical-align: text-bottom
}

.mtb60 {
    margin-top: 60px;
    margin-bottom: 60px
}

.ml0 {
    margin-left: 0
}

.ml5 {
    margin-left: 5px
}

.ml10 {
    margin-left: 10px
}

.ml15 {
    margin-left: 15px
}

.ml16 {
    margin-left: 16px
}

.ml32 {
    margin-left: 32px
}

.ml48 {
    margin-left: 48px
}

.ml20 {
    margin-left: 20px
}

.ml30 {
    margin-left: 30px
}

.ml40 {
    margin-left: 40px
}

.ml45 {
    margin-left: 45px
}

.ml-540 {
    margin-left: -540px
}

.mt5 {
    margin-top: 5px
}

.mt10 {
    margin-top: 10px
}

.mt15 {
    margin-top: 15px
}

.mt16 {
    margin-top: 16px
}

.mt32 {
    margin-top: 32px
}

.mt20 {
    margin-top: 20px
}

.mt30 {
    margin-top: 30px
}

.mt40 {
    margin-top: 40px
}

.mt60 {
    margin-top: 60px
}

.mr5 {
    margin-right: 5px
}

.mr10 {
    margin-right: 10px
}

.mr20 {
    margin-right: 20px
}

.mb5 {
    margin-bottom: 5px
}

.mb10 {
    margin-bottom: 10px;
    background: #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.06);
}

.mb20 {
    margin-bottom: 20px
}

.mb30 {
    margin-bottom: 30px
}

.mb40 {
    margin-bottom: 40px
}

.mb50 {
    margin-bottom: 40px
}

.mb60 {
    margin-bottom: 60px
}

.pl10 {
    padding-left: 10px
}

.ptb50 {
    padding-top: 50px;
    padding-bottom: 50px
}

.pt5 {
    padding-top: 5px
}

.pt10 {
    padding-top: 10px
}

.pt20 {
    padding-top: 20px
}

.pt40 {
    padding-top: 40px
}

.pr5 {
    padding-right: 5px
}

.pr10 {
    padding-right: 10px
}

.pb10 {
    padding-bottom: 10px
}

.pb20 {
    padding-bottom: 20px
}

.pb40 {
    padding-bottom: 40px
}

.fs12 {
    font-size: 12px
}

.fs13 {
    font-size: 13px
}

.fs14 {
    font-size: 16px
}

.fs15 {
    font-size: 15px
}

.fs16 {
    font-size: 16px
}

.fs17 {
    font-size: 17px
}

.fs18 {
    font-size: 18px
}

.fs19 {
    font-size: 19px
}

.fs20 {
    font-size: 20px
}

.fs21 {
    font-size: 21px
}

.fs24 {
    font-size: 24px
}

.c_333 {
    color: #333
}

.c_545,
.error {
    color: #e66545
}

.c_f93 {
    color: #fa9300
}

.c_666 {
    color: #666
}

.c_999 {
}

.c_aaa {
    color: #aaa
}

.c_c00,
.alt,
.alert {
    color: #c00
}

.c_fff {
    color: #fff
}

.c_2f2,
.c_blue {
    color: #176ba5
}

.colum2 {
    width: 49.5%
}

.colum4 {
    width: 24.5%
}

.h-wrap {
    width: 1200px;
    margin: 0 auto;
}
