.service-header {
	background: #fff;
	padding: 0 0 30px
}

.record-value.intro {
	display: inline-block;
	vertical-align: top;
	height: 140px;
	width: 570px;
	overflow: auto;
	word-wrap: break-word;
	font-size: 17px;
}
.record-value
{
	/*display: block;*/
	max-height: 120px;
	overflow: auto;
}
.testApi{
	position: relative;
	display: block;
	width: 150px;
	height: 45px;
	background: #2171C2;
	color: white;
	font-size: 16px;
	line-height: 45px;
	text-align: center;
	float: left;
	text-decoration: none;
	letter-spacing: 2px;
	margin-top: 20px;
	cursor: pointer;
}
.buyApi{
	position: relative;
	display: block;
	width: 150px;
	height: 45px;
	background: #2171C2;
	color: white;
	font-size: 16px;
	line-height: 45px;
	text-align: center;
	float: left;
	text-decoration: none;
	letter-spacing: 2px;
	margin-top: 20px;
	cursor: pointer;
}
.testApi:hover{text-decoration: none;}


.api-right-desc {
	margin-left: 25px;
	width: 570px;
	margin-top:40px;
}

.record-info {
	font-size: 17px;
	color: #333;
	padding-top: 18px
}

.record-key {
	margin-left: 25px;
}

.record-key:first-child {
	margin-left: 0;
	font-size: 17px;
}

.record-desc {
	margin-top: 10px;
	font-size: 13px;
	color: #999;
	line-height: 25px
}

.api-left-thumb {
	width: 216px
}

.api-left-thumb-item {
	margin-left: 17px;
	margin-top: 32px
}

.api-left-thumb-item:nth-child(4n+1) {
	margin-left: 0
}

.record-thumb {
	display: block
}

.record-thumb .service-image {
	width: 200px;
	height: 100px;
	background-color: #fff;
	padding: 35px 7px 53px;
	border: 1px solid #E9F2F6
}

.record-thumb .service-counts {
	width: 100%;
	background-color: #FFF;
	padding-top: 15px;
	padding-bottom: 11px
}

.record-thumb .service-counts .service-counts-item {
	width: 70px;
	float: left
}

.service-counts-devide {
	width: 1px;
	float: left;
	height: 30px;
	background-image: url(../images/record-devide_40df2c6.png);
	background-repeat: no-repeat;
	background-position: center center
}

.record-thumb .service-counts-letter,
.record-thumb .service-counts-data {
	display: inline-block;
	vertical-align: middle;
	width: 65px;
	text-align: center;
	float: left;
	line-height: 13px
}

.record-thumb .service-counts-data {
	font-size: 15px;
	color: #999;
	margin-top: 10px
}

.record-thumb .service-counts-letter {
	font-size: 13px;
	color: #999
}

.record-thumb .service-counts-letter.favo {
	cursor: pointer;
	font-weight: 700
}

.record-thumb .service-counts-letter.favo:hover {
	text-decoration: underline
}

.record-thumb .service-counts-letter.favo.active {
	color: #fa9300;
	cursor: default
}

.service-header .record-name-version {
	font-size: 13px;
	line-height: 43px;
	padding-bottom: 10px;
	border-bottom: 0 solid #ececec;
	width: 824px
}

.service-header .service-title {
	font-size: 27px;
	display: inline-block;
	max-width: 600px;
	font-weight: 700;
	font-family: PingFangSC-Semibold;
	letter-spacing: 0;
}

.record-info {
	padding-top: 9px;
	padding-bottom: 9px;
}

.record-tips-icon {
	padding-top: 20px;
	margin-bottom: 11px
}

.record-tips-icon .icon-item {
	float: left;
	height: 17px;
	line-height: 17px;
	padding-left: 23px;
	display: block;
	background-image: url(../images/record-icons_6afa941.png);
	background-repeat: no-repeat;
	margin-right: 30px
}

.record-tips-icon .icon-back {
	background-position: 0 0
}

.record-tips-icon .icon-tech {
	background-position: -156px 0
}

.record-tips-icon .icon-30 {
	background-position: -326px 0
}

.record-tips-icon .icon-sla {
	background-position: -485px 0
}

.record-tips-icon .icon-quality {
	background-position: -81px 0
}

.record-tips-icon .icon-function {
	background-position: -243px 0
}

.record-icon-price {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%
}

.record-icon {}

.record-price {
	height: 24px;
	line-height: 24px;
	background-color: #F6F6F6;
	width: 100%;
	padding-left: 11px;
	padding-right: 7px;
	color: #666;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box
}

.record-thumb .record-price {
	height: 40px;
	line-height: 40px
}

.record-price .price-num {
	float: left
}

.record-price .price-package {
	float: right;
	font-weight: 700
}

.service-navi-list {
	background-color: #F9F9F9;
	width: 1080px;
	color: #999
}

.service-navi-list.service-navi-fixed {
	margin-top: 0;
	position: fixed;
	top: 0;
	z-index: 999
}

.service-navi-item,.service-navi-item1 {
	width: 102px;
	height: 54px;
	cursor: pointer;
	position: relative
}

.service-navi-item:hover,
.service-navi-item1:hover,
.service-navi-item.active {
	background-color: #2171C2;
	color: #FFF
}

.service-navi-item.sla span {
	position: absolute;
	top: -3px;
	right: 12px;
	display: block;
	width: 31px;
	height: 21px;
	background: url(../images/sla.png) right center no-repeat
}

.service-cont-item {
	margin-top: 20px;
	background-color: #fff
}

.prize-zone {
	background: #F8F8F8;
	margin-bottom: 5px;
	padding: 15px;
	border-top: 1px solid #EDEDED;
	border-bottom: 1px solid #EDEDED
}

.prize-label {
	font-size: 18px;
	color: #999
}

.prize-num {
	font-size: 24px;
	color: #FA9300;
	font-weight: 900
}

.prize-num-min {
	font-size: 14px;
	color: #FA9300;
	margin-right: 20px
}

.buy-service-btn {
	background: #FA9300;
	border: 1px solid #FA9300;
	padding: 3.5px 30px;
	margin-top: -10px;
	color: #FFF
}

.buy-service-btn:hover {
	filter: alpha(opacity=80);
	-moz-opacity: .8;
	-khtml-opacity: .8;
	opacity: .8
}

.buy-service-btn.btn-gray {
	border-color: #DFDFDF;
	background-color: #DFDFDF;
	color: #FFF;
	cursor: no-drop
}

.buy-service-btn.btn-gray:hover {
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1
}

.breadcrumb {
	padding: 15px;
	padding-left: 0;
	border-bottom: 0 solid #2171C2;
	margin-top: 10px;
	margin-bottom: 5px
}

.breadcrumb a {
	color: #2082F2
}

#js-service-navi-list .detail-menu {
	height: 20px;
	margin-top: 16px;
	border-right: #E2E2E2;
	width: 100%;
	border-right: 1px solid #E2E2E2
}

.special-service-steps {
	border: 1px solid #EEE;
	width: 1080px;
	height: 83px;
	line-height: 83px;
	margin-bottom: 40px
}

.baidu-msg-steps {
	width: 216px;
	display: inline-block;
	text-align: center;
	float: left
}

.baidu-msg-steps span {
	display: inline-block;
	width: 41px;
	height: 41px;
	background: url(../images/special-service-steps_fc70ab9.png) no-repeat;
	position: relative;
	top: 15px;
	left: -10px
}

.baidu-msg-steps-3 span {
	background-position: -49px center
}

.baidu-msg-steps-3 {
	text-decoration: none!important;
	color: #333
}

.baidu-msg-steps-1,
.data-steps-1 {
	font-weight: 900
}

.baidu-msg-steps-4 span {
	background-position: -97px center
}

.baidu-msg-steps-5 span {
	background-position: -145px center
}

.baidu-msg-steps:not(.baidu-msg-steps-1):hover {
	border-bottom: 1px solid #1F70C2;
	filter: alpha(opacity=80);
	opacity: .8;
	-moz-opacity: .8;
	-khtml-opacity: .8
}

.data-steps {
	width: 270px;
	display: inline-block;
	text-align: center;
	float: left
}

.data-steps span {
	display: inline-block;
	width: 41px;
	height: 41px;
	background: url(../images/special-service-steps_fc70ab9.png) no-repeat;
	position: relative;
	top: 15px;
	left: -10px
}

.data-steps-3 span {
	background-position: -193px center
}

.data-steps-4 span {
	background-position: -241px center
}

.data-steps:not(.data-steps-1):hover {
	border-bottom: 1px solid #1F70C2;
	filter: alpha(opacity=80);
	opacity: .8;
	-moz-opacity: .8;
	-khtml-opacity: .8
}

.data-steps:not(.data-steps-1) {
	width: 152px
}

.data-steps-arrow {
	display: inline-block;
	width: 115px;
	height: 31px;
	float: left;
	position: relative;
	top: 27px;
	background: center url(../images/step-arrow_fcdfedb.png) no-repeat
}