.content {
	width: 716px;
	margin: 40px 0 40px 20px;
	background: #fff;
	border-radius: 4px;
	padding: 0 16px
}

.list-page {
	margin-bottom: 60px
}

.ml60 {
	margin-left: 60px
}

.aside {
	width: 198px;
	border: 1px solid #cecece;
	border-radius: 4px;
	color: #333;
	margin-top: 20px
}

.module-name {
	padding-right: 10px
}

.module-name .srch-sort {
	margin-top: 5px
}

.advanced-select {
	margin-right: 20px
}

.pro-title {
	display: block;
	height: 33px;
	margin-top: 8px;
	cursor: pointer;
	padding-left: 20px;
	background: url(../images/icon-up_30b61af.png) left 8px no-repeat
}

.pro-select-list {
	display: none;
	position: absolute;
	z-index: 5;
	left: 0;
	top: 42px;
	top: 43px\9;
	width: 100%;
	border-bottom: 1px solid #cecece;
	background: #f4f4f4
}

_:-ms-fullscreen,
:root .pro-select-list {
	top: 43px
}

.pro-select-list.active {
	display: block
}

.pro-select-item {
	padding: 10px 0;
	border-top: 1px dashed #cecece;
	border-left: 1px solid #cecece;
	border-right: 1px solid #cecece
}

.pro-select-item:first-child {
	border-top: 0
}

.pro-select-label {
	padding-left: 28px;
	width: 110px;
	display: inline-block;
	vertical-align: middle
}

.pro-select-item .form-label {
	width: 140px;
	display: inline-block;
	vertical-align: middle
}

.pro-select-item .form-checkbox {
	margin-right: 8px
}

.pro-select-item button.btn-small-flex {
	height: 26px;
	line-height: 26px;
	*padding: 0 10px;
	*line-height: 20px
}

.api-list {
	padding: 0
}

.api-list .api-left-thumb {
	margin-left: 10px
}

.breadcrumb {
	padding: 15px;
	padding-left: 0;
	border-bottom: 1px solid #2171C2
}

.breadcrumb a {
	color: #2082F2
}

.api-left-static .service-follow {
	width: 0;
	height: 14px;
	background: url(../images/icons/love-active_d633fc1.png) no-repeat;
	padding-left: 16px;
	vertical-align: middle;
	margin-bottom: 3px;
	cursor: pointer
}

.api-left-static .service-follow.followed {
	background: url(../images/icons/love_ab9f31a.png) no-repeat;
	cursor: default
}

.api-left-static .follow-count {
	padding-left: 0;
	background: 0 0;
	margin: 0
}

.btn-download {
	display: inline-block;
	max-width: 500px;
	height: 48px;
	padding: 0 20px;
	line-height: 48px;
	text-align: center;
	font-size: 17px;
	cursor: pointer
}

.lead-coffee {
	background: url(../images/icons/coffee_846fd44.png) 13px center no-repeat
}

.lead-flag {
	background: url(../images/icons/flag_6e7d1d8.png) 15px center no-repeat
}

.lead-pin {
	background: url(../images/icons/pin_bcb275c.png) 10px center no-repeat
}

.lead-download {
	background: url(../images/icons/download_4baea79.png) 15px center no-repeat
}

.record-col-15 {
	width: 15%
}

.record-col-45 {
	width: 45%
}

.record-col-1 {
	width: 40%
}

.record-col-2 {
	width: 20%
}

.version-select {
	width: 80px;
	padding: 3px 5px
}

.lead-cont {
	padding-left: 44px;
	padding-right: 10px;
	padding-top: 3px;
	display: inline-block
}

.lead-title {
	background: url(../images/title-icon_e87e3e2.png) 17px center no-repeat;
	font-weight: 400
}

.basic-intro-desc {
	padding: 17px 59px 24px 44px;
	line-height: 2
}

.sla-name {
	width: 280px;
	margin-right: 20px
}

.sdk-download-intro {
	line-height: 1.8;
	padding: 2px 0;
	margin-left: 30px
}

.sdk-download-item {
	margin-top: 30px
}

.sdk-link-item {
	border-bottom: 1px solid #cecece;
	padding: 10px 0;
	margin: 0 30px;
	word-wrap: break-word;
	word-break: break-all
}

.first-link-item {
	margin-top: 30px;
	border-top: 1px solid #cecece
}

.sdk-name {
	width: 205px;
	padding-left: 15px;
	display: inline-block
}

.sdk-link {
	width: 650px
}

.sdk-link-item:last-child {
	margin-bottom: 30px
}

.api-aside {
	width: 155px;
	margin-left: 15px
}

#js-service-cont-list .service-cont-item {
	background-color: #FBFBFB;
	border: 1px solid #ECECEC
}

.navi-list {
	padding-top: 15px
}

.navi-item {
	z-index: 10;
	position: relative
}

.navi-title {
	height: 50px;
	/*line-height: 13px;*/
	font-size: 13px;
	font-weight: 400;
	cursor: pointer;
	width: 129px
}

.navi-item:hover .navi-title {
	color: #0095ea
}

.navi-item.active .navi-title {
	color: #0095ea
}

.navi-item.active i {
	position: absolute;
	top: -16px;
	right: 0;
	width: 7px;
	height: 52px;
	background: #fff url(../images/left-navi_25c8b17.png) left top no-repeat
}

.interface-name {
	height: 52px;
	line-height: 52px;
	border-bottom: 1px solid #cecece;
	cursor: pointer
}

.interface-name .caret {
	margin: 0 15px 3px 10px
}

.interface-detail {
	padding-left: 20px;
	padding-top: 15px;
	width: 870px;
	border-left: 1px solid #cecece
}

.interface-line {
	padding-bottom: 20px;
	line-height: 14px
}

.interface-line.pb10 {
	padding-bottom: 10px
}

.interface-line .title {
	display: inline-block;
	vertical-align: top
}

.interface-line .td-1 {
	width: 20%;
	word-break: break-all;
	word-wrap: break-word
}

.interface-line .td-2 {
	width: 10%;
	word-break: break-all;
	word-wrap: break-word
}

.interface-line .td-3 {
	width: 10%;
	word-break: break-all;
	word-wrap: break-word
}

.interface-line .td-4 {
	width: 15%;
	word-break: break-all;
	word-wrap: break-word
}

.interface-line .td-5 {
	width: 30%;
	word-break: break-all;
	word-wrap: break-word
}

.api-debug {
	background-color: rgba(53, 166, 232, 1);
	color: #fff;
	padding: 6px 30px;
	border-radius: 3px
}

.api-debug:hover {
	background: rgba(53, 166, 232, .8);
	text-decoration: none
}

.api-content-left {
	display: inline-block;
	vertical-align: middle;
	float: left;
	width: 125px
}

.api-content-right {
	width: 745px;
	display: inline-block;
	vertical-align: middle;
	float: left;
	word-break: break-all;
}

.api-content-right pre {
	margin: 0
}

.interface-list {
	background-color: #FFF;

}

.interface-list.table {
	padding:20px 0px 20px 20px;
}

.err-name {
	display: block;
	line-height: 13px
}

.comment-tag-item {
	height: 28px;
	line-height: 28px;
	padding: 0 22px;
	white-space: nowrap;
	margin-right: 10px
}

.add-comment-block .comment-tag-item {
	cursor: pointer;
	position: relative;
	width: 96px
}

.comment-good {
	border: 1px solid #8ec31d;
	background: #e6f5c5;
	color: #486804
}

.comment-bad {
	border: 1px solid #d9d9d9;
	background: #f3f3f3;
	color: #666
}

.comment-tag-item.selected {
	background: #fff
}

.icon-select {
	display: inline-block;
	width: 10px;
	height: 8px;
	position: absolute;
	top: 10px;
	right: 5px
}

.comment-good.selected .icon-select {
	background: url(../images/icons/correct-active_06ef93f.png) no-repeat
}

.comment-bad.selected .icon-select {
	background: url(../images/icons/correct_a8afd0f.png) no-repeat
}

.demo-pre {
	width: 100%;
	border-top: 1px solid #e3e3e3;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	background-color: #fff
}

.demo-type-frame {
	width: 100%;
	background-color: #e8eff4;
	height: auto
}

.demo-type {
	position: relative;
	border-left: 0;
	color: #666;
	display: inline-block;
	vertical-align: middle;
	padding: 17px 20px;
	cursor: pointer;
	float: left;
	font-weight: 400
}

.demo-type:first {
	padding-left: 40px
}

.demo-type.active,
.demo-type:hover {
	color: #0095ea
}

.demo-type.active i {
	background: #e8eff4 url(../images/navi-item-tri-color_67bc89f.png) center no-repeat;
	width: 16px;
	height: 8px;
	position: absolute;
	bottom: -1px;
	left: 50%;
	margin-left: -8px
}

.CodeMirror-scroll,
.CodeMirror-lines {
	background-color: #f2f6f8
}

.business-list {
	line-height: 33px;
	margin-left: 5px;
	padding-bottom: 65px
}

.business-list .business-name {
	display: block;
	line-height: 13px
}

.business-list .business-item {
	margin-top: 32px;
	padding-left: 64px;
	display: block;
	background: url(../images/business-icon_7788280.png) no-repeat
}

.business-list .business-item.qq {
	background-position: 0 0;
	margin-top: 40px
}

.business-list .business-item.tel {
	background-position: 0 -232px
}

.business-list .business-item.email {
	background-position: 0 -457px
}

.business-item .item-name {
	display: inline-block;
	width: 65px
}

.business-item .item-value {}

.api-param-content {
	display: none;
	position: absolute;
	top: 37px;
	right: -1px;
	z-index: 1;
	min-width: 80px;
	max-width: 300px;
	padding: 7px 15px;
	border: 1px solid #eee;
	background-color: #fff;
	white-space: pre;
	line-height: 20px;
	max-height: 200px;
	overflow: auto
}

#param-default-detail {
	position: absolute;
	z-index: 1;
	padding: 5px 10px;
	min-width: 130px;
	border: 1px solid #eee;
	background-color: #fff
}

.api-param-ellipsis:hover .api-param-content,
.api-param-content:hover {
	display: block
}

.bug-service-package-item {
	border: 2px solid #eee;
	border-radius: 2px;
	padding: 20px 10px
}

.bug-service-package-item.active {
	border-color: #0095ea
}

.bug-service-package-item h5 {
	font-weight: 400;
	font-size: 14px
}

.invoice-label {
	width: 100px;
	text-align: right;
	padding-right: 15px
}

input[type=text].invoice-input-text {
	width: 340px
}

.service-info-item {
	border: 1px solid #e3e3e3;
	border-radius: 3px;
	line-height: 20px;
	padding: 18px 13px 13px;
	margin-bottom: 10px;
	position: relative
}

.service-info-item.service-check-package {
	width: 414px;
	cursor: pointer;
	padding-left: 85px;
	background-repeat: no-repeat;
	background-position: left center;
	background-image: url(../images/package_unchecked_a3c23ee.png)
}

.service-info-item.service-check-package:hover {
	border-color: #6fba2c
}

.service-info-item.service-check-package.active {
	border-color: #6fba2c;
	background-image: url(../images/package_checked_22d1b22.png)
}

.service-info-item-name {
	font-weight: 900;
	color: #333;
	width: 310px;
	height: 40px;
	word-break: break-all
}

.service-info-item-intro {
	color: #999
}

.service-package-alert {
	font-size: 16px;
	color: #d30000;
	font-weight: 900;
	top: 50%;
	margin-top: -10px;
	width: 120px;
	right: 0
}

.order-invoice-none {
	width: 502px;
	height: 40px;
	line-height: 40px;
	padding-left: 10px;
	background-color: #f6eae8
}

.buy-service-btn {
	padding-left: 15px;
	padding-right: 15px;
	margin-right: 25px
}

.service-info-form {
	min-height: 20px;
	padding-top: 16px
}

.service-package-title {
	display: inline-block;
	vertical-align: middle;
	width: 112px;
	float: left;
	line-height: 32px;
	min-height: 1px
}

input[type=text].package-tel {
	width: 297px;
	padding: 7px 10px
}

input[type=text].package-code {
	width: 133px;
	padding: 7px 10px
}

.form-left {
	display: inline-block;
	vertical-align: middle;
	width: 100px;
	text-align: right;
	margin-right: 20px
}

#service-verify-dialog {
	height: 500px;
	overflow-y: auto
}

.upload-files {
	width: 120px;
	min-height: 100px;
	background: url(../images/default-user_aadef2c.jpg) no-repeat;
	background-size: 100% auto;
	margin-right: 20px
}

.fileupload-text {
	border-radius: 2px;
	border: 1px solid #e3e3e3;
	color: #8ac;
	display: inline-block;
	width: 126px;
	height: 31px;
	line-height: 31px;
	text-align: center;
	cursor: pointer
}

.btn-form-title {
	padding: 4px 29px 5px;
	cursor: pointer
}

.cspt {
	cursor: pointer
}

.batch-alert {
	height: 20px;
	line-height: 20px
}

.api-item {
	height: 30px;
	border: 1px solid #CACACA;
	line-height: 30px;
	margin-top: 10px;
	margin-right: 20px;
	padding-left: 5px
}

.api-box {
	padding-bottom: 10px
}

.icon-delete {
	background: url(../images/delete_d76f4bd.png) no-repeat;
	cursor: pointer;
	width: 11px;
	height: 11px;
	display: inline-block
}

.delete-div {
	width: 30px;
	height: 30px;
	border-left: 1px solid #CACACA;
	display: inline-block;
	margin-left: 5px;
	cursor: pointer
}

#charts {
	width: 880px
}

#pie-chart,
#line-chart {
	width: 800px
}

.update-img {
	background: url(../images/update-img_dddacb9.png) no-repeat;
	width: 479px;
	height: 416px;
	float: left
}

.off-shelve-img {
	background: url(../images/offShelve-img_ebd5214.png) no-repeat;
	width: 437px;
	height: 424px;
	float: left
}

.update-words {
	margin-top: 100px;
	margin-left: 70px;
	float: left
}

.update-bottom {
	background-color: #DFEDF0;
	text-align: center;
	min-height: 250px;
	margin-bottom: -60px
}

.update-top {
	min-height: 400px
}

.sorry {
	font-size: 36px;
	width: 600px;
	text-align: center
}

.other {
	font-size: 17px;
	width: 600px;
	text-align: center
}

.update-main {
	margin: 0 auto;
	position: relative;
	top: -280px
}

body {
	background-color: #FFF
}

[data-service-detail="1"],
[data-service-detail="2"] {
	min-height: 300px
}

.icon-item {
	cursor: pointer
}

.question-table {
	border: 1px solid #ECECEC
}

.question-table-title {
	height: 44px;
	line-height: 44px;
	padding-left: 25px;
	border-bottom: 1px solid #ECECEC
}

.question-table-btn {
	padding: 20px 0 30px 25px
}

.question-content-a {
	margin: 0 25px;
	display: block;
	height: 44px;
	line-height: 44px;
	border-bottom: 1px dotted #ECECEC
}

[data-show-intro] {
	position: absolute;
	top: 13px;
	right: 5px
}

.interface-item {
	width: 907px
}

[data-item-content="2"],
[data-item-content="3"],
[data-item-content="4"],
[data-item-content="5"],
[data-item-content="6"],
[data-item-content="8"] {
	border: 0!important;
	background-color: #FFF!important
}

#js-interface-list {
	width: 924px
}

[data-item-content="2"] #js-interface-list,
[data-item-content="3"] #js-interface-list {
	width: 1080px;
	margin-left: 0;
	padding: 20px 0px 20px 20px;
}

.service-check-package-count {
	width: 118px;
	border: 1px solid #6fba2c;
	height: 92px;
	border-radius: 3px;
	display: none
}

.service-check-package-count.active {
	width: 118px;
	border: 1px solid #6fba2c;
	height: 92px;
	border-radius: 3px;
	display: inline-block
}

.service-package-count-p {
	line-height: 92px
}

.service-package-count-word {
	font-weight: 900;
	color: #000;
	padding: 3px!important;
	margin: 0 3px 3px;
	width: 30px!important
}

.package-count {
	color: #fff;
	display: inline-block;
	float: right;
	text-align: center
}

.package-count-plus {
	background-color: #6fba2c;
	height: 45px;
	display: block;
	line-height: 45px;
	width: 30px;
	cursor: pointer
}

.package-count-minus {
	margin-top: 2px;
	background-color: #6fba2c;
	height: 45px;
	display: block;
	line-height: 45px;
	width: 30px;
	cursor: pointer
}

.package-count-plus.disabled {
	background-color: #EBEBE4
}

.package-count-minus.disabled {
	background-color: #EBEBE4
}

.total-price {
	margin-right: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 18px;
	clear: both;
	font-weight: 900
}

#invoice-detail {
	padding-bottom: 30px
}

.over-count {
	position: relative;
	top: -25px;
	left: 5px;
	color: #d30000
}

.invoice-condition {
	display: inline-block;
	width: 420px
}

#invoice-detail>.radio-div {
	margin-left: 115px;
	font-size: 14px
}

.btn-grey-col {
	border: 1px solid #ccc;
	color: #999
}

.btn-grey-col:hover {
	border: 1px solid #366591;
	color: #879AC0
}

.apikey-color {
	color: #176ba5
}

.apikey-color:hover {
	text-decoration: underline
}